postgresql:
  image: sameersbn/postgresql:9.4-2
  environment:
    - DB_USER=gitlab
    - DB_PASS=password
    - DB_NAME=gitlabhq_production
gitlab:
  image: sameersbn/gitlab:7.13.1
  links:
    - redis:redisio
    - postgresql:postgresql
  ports:
    - "10080:80"
    - "10022:22"
  environment:
    - GITLAB_PORT=10080
    - GITLAB_SSH_PORT=10022
redis:
  image: sameersbn/redis:latest
